/* p {
    color: red;
} */

/* ul {
    font-size: 16px;
    font-weight: bold;
} */

/* p, li, h1 {
    color: red;
} */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

html {
    font-size: 18px;
    background-color: #71E471;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #4949D4;
    text-shadow: 3px 3px 1px black;
}

body {
    width: 1000px;
    margin: 0 auto;
    background-color: #E8E8A0;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

img {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 10px;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

.my_course {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #4949D4;
    text-shadow: 3px 3px 1px black;
}

.popular{
    border:dotted;
    border-color: red;
    border-width: 4px;
}
